.home-page-conatiner{
  margin: 100px;
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 20px;
}
/* body{
  background-color:White;
} */

ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

 .spacefromtop{
margin-top: 500px;
} 

.aboutwala{
  background-color: aqua;
}


.aboutwalasecond{
  background-color: red;
}
