.boxmodel{
    background-color: rgb(252, 143, 143);
    color: white;
    height: auto;
    width: 500px;
    margin: 12px 0 0 12px;
    box-shadow: 0 4px 8px 0 rgb(252, 162, 162), 0 6px 20px 0 rgb(255, 164, 164);

}