.boxmodel{
    background-color: rgb(252, 143, 143);
    color: white;
    margin-top: 50px;
    margin-left:50px ;
    height: auto;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgb(92, 69, 69), 0 6px 20px 0 rgb(94, 70, 70);

}