.boxmodel{
    background-color: rgba(49, 43, 43, 0.466);
    color: white;
    margin-top: 50px;
    margin-left:50px ;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;

}

.smallboxmodel{
    background-color:rgb(247, 174, 174);
    width: 250px;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
}  
