.boxmodel{
    background-color: rgba(49, 43, 43, 0.466);
    color: white;
    margin-top: 50px;
    margin-left:50px ;
    height: 300px;
    width: 300px;
    overflow: hidden;

}

.smallboxmodel{
    background-color:rgb(247, 174, 174);
    width: 200px;
    height: 200px;
    margin-top: 75px;
    margin-left: 75px;
}  
