.boxmodel{
    background-color: aa;
    height: 500px;
    width: 500px;
    margin: 12px 0 0 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: azure;
}