::-webkit-scrollbar {
  width: 10px;
  height: 1px;
  border-radius: 200px;
  background-color:rgba(123, 149, 167, 0.562);
  /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
}

.container  {
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
  /* box-shadow: 0 4px 8px 0 rgba(136, 126, 126),0 6px 20px 0 rgb(136, 126, 126); */
  box-shadow: 0 4px 8px 0 rgb(139, 138, 138),0 6px 20px 0 rgb(139, 131, 131);
  /*box-shadow: 0 4px 8px 0 rgba(241, 237, 237, 0.753), 0 6px 20px 0 rgba(255, 255, 255, 0.959);*/
}
/* 
.registercontainer {
  width: 400px;
  height: 600px;
  border-radius: 10px;
  margin-top: 60px;
  margin-left: 565px;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgb(139, 138, 138),0 6px 20px 0 rgb(139, 131, 131);
}*/
  /* box-shadow: 0 4px 8px 0 rgba(136, 126, 126),0 6px 20px 0 rgb(136, 126, 126); */
  /*box-shadow: 0 4px 8px 0 rgba(241, 237, 237, 0.753), 0 6px 20px 0 rgba(255, 255, 255, 0.959);*/


.astralshopsimg{
 box-shadow: 0 4px 8px 0 rgb(139, 138, 138),0 6px 20px 0 rgb(139, 131, 131);
}

.topspace {
  margin-top: 30px;
}

.inputbox {
  border: none;
  border-color: white;
  height: 30px;
  width: 250px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(192, 162, 162, 0.767),0 6px 20px 0 rgba(236, 235, 235, 0.712);
}

.loginbtn {
  background-color: rgba(var(--d69, 0, 149, 246), 1);
  color: white;
  width: 250px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(60, 253, 253, 0.808),0 6px 20px 0 rgba(66, 249, 255, 0.808);
}

.txt{
  color: white;
  text-shadow: 0 4px 8px 0 rgb(139, 138, 138),0 6px 20px 0 rgb(139, 131, 131) ;
  /* box-shadow: 0 4px 8px 0 rgba(192, 162, 162, 0.767),0 6px 20px 0 rgba(236, 235, 235, 0.712); */
}

.smallcontainer {
  border-radius: 10px;
  width: 400px;
  height: 50px;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgb(139, 138, 138),0 6px 20px 0 rgb(139, 131, 131);
  padding-left: 160px;
  padding-top: 10px;
  margin-left: 565px;
  margin-top: 35px;
}
