
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.header{
  list-style-type: none;
  overflow:hidden;
  display:flex;
  justify-content: space-between;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgb(49, 53, 53),0 6px 20px 0 rgba(255, 255, 255, 0.397) ;
}
.header-left-side{
  margin-left: 10px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.header-center-side{
  display: flex;
  justify-content:center ;
  padding-top: 20px;
}

.header-right-side{
  margin-right: 30px;
  display: flex;
  justify-content: left;
  padding-top: 20px;
}
.icons{
  height: 50px;
}
.header-right-side-padding{
   padding-left: 40px;
}
/* 
@media screen and (max-width:700px){
  .header{
    padding: 1px ;
    background-color: aqua;
  }
  .header-center-side{
    justify-content: left;
  }
  .header-left-side{
    margin-left: 5px;
  }
  .header-right-side{
    margin-right: 5px;
  }
  .searchbox{
    width: 50px;
  }
} */

/* 
ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
  background-color:black;
  box-shadow: 0 4px 8px 0 rgb(49, 53, 53),0 6px 20px 0 rgba(255, 255, 255, 0.397) ;
}  */

/* li {
    float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */


.searchbox{
    border: 1px solid rgba(255, 255, 255, 0.938);
    outline: none;
    border-radius: 2px;
    margin-left: 25px; 
    padding-left: 37px;
    width: 300px;
    height: 35px;
    font-size: 20px;
    background-color:  rgb(245, 245, 245);
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
       /* box-shadow: 0 4px 8px 0 rgba(250, 250, 250, 0.377),0 6px 20px 0 rgba(255, 255, 255, 0.575) ; */
    /* background-color: rgba(var(--b3f,250,250,250),1); */
    /* background-color: rgba(240, 238, 238, 0.973); */
}


.searchbox:focus{
  width: 300px;
}
/* 
::-webkit-input-placeholder {
    color: red;
} */

@media screen and (max-width:600px) {
  .header-center-side{

  }
  .header-right-side{
    margin-left: auto;
  }
  .icons{
    height: 30px;
  }
  .header-right-side-padding{
    padding-left: 10px;
  }
 .searchbox{
   margin-left: 80px;
   width: 10px;
   background-color:black;
   border: 1px solid black;
   color: azure;
 }
 .searchbox:focus{
   width:auto;
   }

}
